<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.george.com.mapper.UserInfoMapper">
    <insert id="addUser">
        INSERT INTO userinfo
        VALUES(#{firstName}, #{lastName}, #{emailAddr}, #{password}, 0)
    </insert>

    <select id="existAccount" resultType="www.george.com.dao.UserInfo">
        SELECT *
        FROM userinfo
        WHERE emailAddr = #{emailAddr}
    </select>

    <update id="updateAccount">
        UPDATE userinfo
        SET emailState = 1
        WHERE emailAddr = #{emailAddr}
    </update>
</mapper>